* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bbded6;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 18px;
  color: #AAAAAA;
  font-weight: 400;
  margin-bottom: 20px;
}

section, .drag-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  height: 500px;
  width: 750px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
}

.drag-area {
  height: 300px;
  width: 500px;
  border: 2px dashed #c2cdda;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 18px;
  background-color: #FFFCEC;
}

.drag-area.active {
  border: 2px solid #c2cdda;
  opacity: .5;
}

.drag-area.drop {
  border: none;
  opacity: 1;
}

.fas {
  font-size: 70px;
}

.drag-area span {
  font-size: 20px;
}

.fas,
.drag-area span {
  margin-bottom: 10px;
}

button {
  font-size: 20px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #8ac6d1;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

